/* Off canvas layout CSS/JS provided by or adapted from work by Jason Weaver and Luke Wroblewski Requires globals.css grid.css */
/* line 5, ../../app/theme/sass/offcanvas.scss */
body.off-canvas {
  padding: 0;
  margin: 0;
}

/* line 10, ../../app/theme/sass/offcanvas.scss */
.container {
  width: 100%;
}

/* line 14, ../../app/theme/sass/offcanvas.scss */
.row {
  overflow: hidden;
}
/* line 16, ../../app/theme/sass/offcanvas.scss */
.row .row {
  overflow: visible;
}

/* line 22, ../../app/theme/sass/offcanvas.scss */
.paneled .container {
  overflow: hidden;
}
/* line 25, ../../app/theme/sass/offcanvas.scss */
.paneled .row {
  width: 100%;
}
/* line 28, ../../app/theme/sass/offcanvas.scss */
.paneled [role="main"] {
  padding: 0;
  background: #fff;
  width: 500%;
  overflow: hidden;
  float: none;
  position: relative;
  left: 0;
  -webkit-transition: 0.15s all ease-in;
  -moz-transition: 0.15s all ease-in;
  -o-transition: 0.15s all ease-in;
  transition: 0.15s all ease-in;
}

/* line 40, ../../app/theme/sass/offcanvas.scss */
[role="main"]:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

/* line 51, ../../app/theme/sass/offcanvas.scss */
[role="complementary"],
[role="main"] {
  width: 100%;
  padding: 0 15px;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.25s all ease-in;
  -moz-transition: 0.25s all ease-in;
  -o-transition: 0.25s all ease-in;
  transition: 0.25s all ease-in;
}

/* line 60, ../../app/theme/sass/offcanvas.scss */
.page-panel {
  width: 100%;
  padding: 0 15px;
  -webkit-transition: 0.3s margin ease-in-out;
  -moz-transition: 0.3s margin ease-in-out;
  -o-transition: 0.3s margin ease-in-out;
  transition: 0.3s margin ease-in-out;
  background: #fff;
}

/* line 67, ../../app/theme/sass/offcanvas.scss */
#switchPanels {
  margin: 0 -15px;
}

/* line 71, ../../app/theme/sass/offcanvas.scss */
.hide-extras [role="complementary"] {
  display: block;
}

/* line 75, ../../app/theme/sass/offcanvas.scss */
[role="complementary"] {
  margin-left: -100%;
  width: 80%;
  float: left;
  z-index: 2;
}

/* line 82, ../../app/theme/sass/offcanvas.scss */
[role="main"] {
  margin-left: 0;
  float: right;
  z-index: 1;
  position: relative;
}

/* line 89, ../../app/theme/sass/offcanvas.scss */
.page-panel {
  min-height: 400px;
  float: left;
  margin: 0;
  width: 20%;
}

/* line 97, ../../app/theme/sass/offcanvas.scss */
.active [role="complementary"] {
  margin-left: 0;
}
/* line 100, ../../app/theme/sass/offcanvas.scss */
.active [role="main"] {
  margin-right: -80%;
}

@media all and (min-width: 768px) {
  /* line 109, ../../app/theme/sass/offcanvas.scss */
  menu-button,
  [role="complementary"] {
    width: 20%;
    margin-left: 0;
    float: left;
    padding: 0 15px;
  }

  /* line 115, ../../app/theme/sass/offcanvas.scss */
  [role="main"] {
    width: 80%;
    padding: 0 15px;
  }

  /* line 119, ../../app/theme/sass/offcanvas.scss */
  .paneled [role="main"] {
    width: 100%;
    padding: 0;
    background: #f4f4f4;
    left: 0 !important;
  }

  /* line 125, ../../app/theme/sass/offcanvas.scss */
  .page-panel {
    display: block;
    min-height: 800px;
    float: none;
    margin: 0;
    width: 100%;
    background: #f4f4f4;
  }

  /* line 134, ../../app/theme/sass/offcanvas.scss */
  .hide-extras [role="main"] {
    width: 100%;
  }
  /* line 137, ../../app/theme/sass/offcanvas.scss */
  .hide-extras [role="complementary"] {
    display: none;
  }
}
